.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-avatar {
  width: 64px;
  height: 64px;
}

.ant-page-header-heading-left {
  flex-direction: column;
}

.ant-divider-plain.ant-divider-with-text, .ant-page-header-heading-sub-title {
  color:rgb(235, 237, 240)
}

.ant-page-header-heading-sub-title {
  margin: 4px 0 0 0;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin-top: 0!important;
}

.ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text:before {
  border-color: rgb(235, 237, 240);
}

.main {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  color: white;
}

.ant-page-header-heading-title {
  font-size: 30px;
  color:rgb(235, 237, 240)
}

.ant-col {
  width: 70px;
  height: 70px;
  line-height: 2.5;
  border: 1px solid rgb(235, 237, 240);
  cursor: pointer;
  pointer-events: none;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 20px;
}

.new-game-btn, .new-word-btn {
  width: 130px!important;
  height: 40px;
}

.cell-hover {
  background-color: rgb(235, 237, 240);
  color: #282c34;
}

.cell-checked {
  background-color: rgb(235, 237, 240);
  border-color: #282c34;
  color: #282c34;
}

.ant-card {
  width: 280px;
  line-height: 1.2;
  margin-top: 20px;
}

.ant-card-head {
  min-height: 20px;
  background-color: #282c34;
  color: rgb(235, 237, 240);
  font-weight: 700;
  border: 1px solid #f0f0f0;
}

.ant-card-head-title {
  padding: 10px 0;
}

.ant-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100px;
  padding: 20px;
}
